---
#title: "Blackfell"
layout: splash
author_profile: true
header:
    overlay_image: "/assets/images/generic/fog2.jpg"
    actions:
        - label: "Straight to the latest article"
          url: "/latest"
excerpt: "Welcome to My Personal Blog and Reference. I built this site to help my friends, family and colleagues, hopefully you'll find something useful too."
#intro: 
#    - excerpt: 'This is the intro excerpt.'
#About me section
feature_row:
    - image_path: /assets/images/generic/forest.jpg
      alt: "About Image"
      title: "Who am I anyway?"
      excerpt: 'This is my blog, but who am I? Find out more about me, why I blog and how I can help you here.'
      url: /about/
      btn_label: "Read about me"
      btn_class: "btn--inverse"
#Security Guidance Section
feature_row2:
    - image_path: /assets/images/generic/laptop.jpg
      alt: "Guidance Image"
      title: "Security Guidance Articles"
      excerpt: 'This is my blog, but who am I? Find out more about me, why I blog and how I can help you here.'
      url: /categories/#security-guidance
      btn_label: "Get Guidance"
      btn_class: "btn--inverse"
      excerpt: "There is a **lot** of information out there on security. Some of my blog posts provide simple, clear discussion of security issues; perhaps they can cut through the noise and help you too."
#Technical Guidance Section
feature_row3:
    - image_path: /assets/images/generic/urban.jpg
      alt: "Technical Image"
      title: "Technical Guides & Articles"
      excerpt: "I've given plenty of written and verbal guidance on technical aspects of security but have now collected these articles into one place here. These are designed to help people learn practical security related skills, understand computers, coding, the business of security and learn in a fun, safe, ethical and legal way"
      url: /categories/#technical-guidance
      btn_label: "Get T3ChN1Ca1"
      btn_class: "btn--inverse"

---

{% include feature_row id="intro" type="left" %}

{% include feature_row id="feature_row" type="right" %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

